{% extends 'main/layout.html' %}

{% block title %}Aboud Gachi{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про эти ваши dark fantasy</h1>
        <h2>яре-яре дазэ</h2>
        <p>Гачиму́чи (англ. Gachimuchi, яп. ガチムチ/がちむち) — интернет-мем и субкультура, зародившаяся в августе 2007 года на японском видеохостинге Nico Nico Douga. В 2016 году феномен проник в Рунет, где обрёл самостоятельную жизнь, к этому же времени он получил распространение по всему интернету. Мем основан на низкобюджетных гей-порнофильмах 1990-х годов и включает в себя в числе прочего большое количество мэшап-пародий на популярные музыкальные композиции и клипы, созданные с использованием аудио-фрагментов порнороликов, входящих в фэндом.</p>
        <a href="https://www.youtube.com/watch?v=S_QP1Zm6KjM"><button class="btn btn-success">Let's suck some dick!</button></a>
    </div>
{% endblock %}